@import "normalize.css";
/* function */
/*


fonts
*/
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/NotoSansKR-Thin.woff2") format('woff2'), url("../fonts/NotoSansKR-Thin.woff") format('woff'), url("../fonts/NotoSansKR-Thin.otf") format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/NotoSansKR-Light.woff2") format('woff2'), url("../fonts/NotoSansKR-Light.woff") format('woff'), url("../fonts/NotoSansKR-Light.otf") format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/NotoSansKR-Regular.woff2") format('woff2'), url("../fonts/NotoSansKR-Regular.woff") format('woff'), url("../fonts/NotoSansKR-Regular.otf") format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/NotoSansKR-Medium.woff2") format('woff2'), url("../fonts/NotoSansKR-Medium.woff") format('woff'), url("../fonts/NotoSansKR-Medium.otf") format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/NotoSansKR-Bold.woff2") format('woff2'), url("../fonts/NotoSansKR-Bold.woff") format('woff'), url("../fonts/NotoSansKR-Bold.otf") format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/NotoSansKR-Black.woff2") format('woff2'), url("../fonts/NotoSansKR-Black.woff") format('woff'), url("../fonts/NotoSansKR-Black.otf") format('opentype');
}
/*


basic
*/
/*
@font-size-01: floor((@font-size * 1.143)); // 16px
@font-size-02: floor((@font-size * 1.286)); // 18px
@font-size-03: floor((@font-size * 1.571)); // 22px
@font-size-04: floor((@font-size * 1.857)); // 26px
@font-size-05: floor((@font-size * 2.143)); // 30px
@font-size-06: floor((@font-size * 2.571)); // 36px
@font-size-07: floor((@font-size * 2.857)); // 40px
@font-size-08: floor((@font-size * 3.143)); // 44px
@font-size-09: floor((@font-size * 3.125)); // 50px
*/
/* mixin */
.bold {
  font-weight: bold;
}
.normal {
  font-weight: normal;
}
.center {
  text-align: center;
}
.left {
  text-align: left;
}
.right {
  text-align: right;
}
.top {
  vertical-align: top;
}
.middle {
  vertical-align: middle;
}
.bottom {
  vertical-align: bottom;
}
.hidden {
  overflow: hidden;
}
.none {
  display: none;
}
.mapazero {
  margin: 0;
  padding: 0;
}
.zero {
  font-size: 0;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.static {
  position: static;
}
.inline-block {
  display: inline-block;
}
.block {
  display: block;
}
.full {
  width: 100%;
  height: 100%;
}
.pointer {
  cursor: pointer;
}
.pagenation {
  display: inline-block;
  text-align: center;
  font-size: 0;
  margin: 2.14285714rem 0 3.57142857rem;
  width: 100%;
}
.pagenation a {
  background: #fff;
}
.pagenation a,
.pagenation strong {
  display: inline-block;
  vertical-align: top;
  font-size: 1.57142857rem;
  border: 1px solid #777777;
  width: 2.42857143rem;
  height: 3rem;
  line-height: 3rem;
  margin: 0 0.07142857rem;
}
@media all and (min-width: 1200px) {
  .pagenation a,
  .pagenation strong {
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 0 2px;
  }
}
.pagenation a.jump,
.pagenation strong.jump,
.pagenation a.move,
.pagenation strong.move {
  font-size: 0;
  background: #eeeeee;
}
.pagenation a.jump i,
.pagenation strong.jump i,
.pagenation a.move i,
.pagenation strong.move i {
  font-size: 1.57142857rem;
  line-height: inherit;
}
.pagenation .active,
.pagenation strong {
  background: #0075bc;
  color: #fff;
  font-weight: normal;
  border-color: transparent;
}
.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@keyframes fade {
  from {
    background: rgba(0, 0, 0, 0.3);
  }
  to {
    background: rgba(0, 0, 0, 0.7);
  }
}
/* header */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
input,
select {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
}
input::-ms-expand,
select::-ms-expand {
  display: none;
}
a {
  text-decoration: none;
  color: #555555;
}
/*font*/
html {
  min-width: 320px;
}
body {
  font-family: "Noto Sans KR", "Malgun Gothic", "apple sd gothic neo", sans-serif;
  color: #222222;
}
@media (max-width: 360px) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 361px) and (max-width: 480px) {
  html {
    font-size: 18px;
  }
}
@media (min-width: 481px) {
  html {
    font-size: 22px;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 14px;
  }
}
/* layout - default */
body .container {
  position: relative;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
@media all and (min-width: 1200px) {
  body .container {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 1200px;
    height: 100%;
    text-align: left;
  }
}
/* main - default */
/* sub - default */
